body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Inter', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
}