/* common */

body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Inter', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

/* header */

.header {
  padding: 24px 20px;
  display: flex;
  gap: 168px;
}

.header__logo-image {
  width: 78.453px;
  height: 15.432px;
}

.header__menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.header__menu-item {
  font-size: 16px;
  font-weight: 400;
}

.header__menu-link {
  color: inherit;
}

.header__menu-item_active {
  text-decoration: none;
}

/* cover */

.cover {
  min-height: 228px;
  padding-top: 10px;
  padding-left: 20px;
  background-image: url('../images/cover.svg');
  background-position: bottom 0px left 21px;
  background-repeat: no-repeat;
  background-size: 339px 198px;
}

.accent-span {
  display: block;
  color: #FFF;
  font-family: EB Garamond;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.text-center {
  padding-left: 46px;
}

.text-right {
  text-align: right;
  padding-right: 24px;
}

.intro {
  padding: 0 20px 38px 20px;
}

.reasons {
  padding: 40px 20px;
}

.how-to {
  padding: 40px 20px 60px 20px;
}

.footer {
  padding: 20px;
}
